{{#if record.isFulfilled}}
  <!-- Post Content -->
  <article class="bs-docs-section">
    <h1 class="page-header">{{record.title}}</h1>
    {{#if record.id}}
      {{#can 'article_update' 'article' 'record'}}
        {{#link-to 'article.edit' record.id classNames="btn btn-primary"}}
          Edit
        {{/link-to}}
      {{/can}}
      {{#can 'article_delete' 'article' 'record'}}
        <button {{action 'deleteRecord' record.id}} class="btn btn-default">
          Delete
        </button>
      {{/can}}
    {{/if}}
    <div class="article-body">
      {{html record.body}}
    </div>
    <br>
    {{!-- terms --}}
    <div class="record-terms">
      {{#if record.category}}
        <div class="record-category">
          <label>{{t 'article.form.category.label'}}</label>
          {{we-terms terms=record.category}}
        </div>
      {{/if}}
      {{#if record.tag}}
        <div class="record-tag">
          <label>{{t 'article.form.tag.label'}}</label>
          {{we-terms terms=record.tag}}
        </div>
      {{/if}}
    </div>
    {{!-- /terms --}}
    <hr>
    <div class="comment-area">
      <a data-link-area="comments" id="anchor-comments"></a>
      <h3 class="comment-title">{{t 'comments.title'}}</h3>
      {{we-comments commentedModelName="article" commentedModelId=record.id}}
      {{we-comment-form commentedModelName="article" commentedModelId=record.id}}
    </div>
  </article>
{{else}}
  Loading ...
{{/if}}
