<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <meta name="csrf-token" content="{{_csrf}}" />

  {{{render-metadata-tags}}}
  {{{render-stylesheet-tags}}}
  {{{render-javascript-tags 'header'}}}
</head>
<body>
  {{{template 'partials/header'}}}

  {{{layoutHtml}}}

  {{{template 'partials/footer'}}}
</body>
</html>